:root {
  --primary-color: #40c057;
  --primary-color-hover: #8ce99a;
  --grey-scale1: #fff;
  --grey-scale2: #000;
  --body-background: #fff;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-alternative: "IBM Plex Sans", sans-serif;
}

[data-theme="dark"] {
  --body-background: #000;
  --primary-color: #40c057;
  --primary-color-hover: #8ce99a;
  --grey-scale1: #000;
  --grey-scale2: #fff;
}

body {
  background-color: var(--body-background);
}
