.techContent h2 {
  margin-bottom: 1.25rem;
}

.techList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
}

@media (min-width: 910px) {
  .techList {
    grid-template-columns: repeat(3, 1fr);
  }
}
